.gutter {
  background: grey;

  margin: 0 20px;
  box-shadow: 2px 2px 13px 11px whitesmoke;
}

.flex {
  display: flex;
}
.j-center {
  justify-content: center;
  align-items: center;
}
h2 {
  margin-bottom: 20px;
}
button {
  position: cursor;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.note-tab {
  padding: 20px;
  border: 1px solid gray;
  margin-bottom: 10px;
  &:hover {
    background-color: whitesmoke;
  }
  &.active {
    background-color: rgb(190, 147, 147);
  }
}

aside {
  margin-right: 20px;
}
